{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div style="padding-top: 20px;">
    <h1>
        Dashboard
    </h1>  
    <br>
                {% comment %} <form class="d-flex" style="justify-content: center">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <br> {% endcomment %}
    

    <div class="jumbotron" style="overflow:auto;">
        <div class="row justify-content-center">
            <div id="org_select_div" class="form-group col-md-3" style="float:none;">
                <label for="org_select_div">
                    Organization
                </label>
                <div class="input-group">
                    <select class="form-select" id="repo_org_select">
                        <option value="all">All Organizations</option>
                        {% for org in organizations %}
                            <option value="{{ org }}">{{ org }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="repo_search_div" class="form-group col-md-6" style="float:none;">
                <label for="repo_search_div">
                    Search
                </label>
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search Repositories by Name or Vulnerability" value="" id="repo_search_input">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="repo_search_button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br>

        <div class="container" id="repository_container">
            <div class="card-deck">
                {% for scan in scan_data %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
                        <div class="card" onclick="window.location.href='/details/{{scan.repo_org}}/{{scan.repo_name}}'">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ scan.repo_name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ scan.scan_date }}</h6>
                                        <p class="card-text">
                                            <span class="span_artifact">{{ scan.statistics.number_dependencies }} artifacts</span><br>
                                            <span class="span_vuln">{{ scan.statistics.number_vulnerabilities }} vulnerabilities</span><br>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <span><i class="bi-x-circle-fill"></i> Scan failed</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <div class="card-body">
                                        <div style="width:85%; height:85%">
                                            <canvas id="{{ scan.repo_org }}{{ scan.repo_name }}" width="100" height="100"></canvas>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <span><i class="bi-x-circle-fill"></i> Scan failed</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
</div>

{% comment %} Variables {% endcomment %}
{{ scan_data|json_script:'scan_data' }}

{% endblock %}

{% block statics %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

