.vuln_hidden_div {
    display: none;
    padding: 30px;
}

.warning_icon {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}

.ta_description {
    /* width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px; */
    width: 100%;
    resize: none;
}

.form-control[readonly].ta_description {
    background-color: white;
    /* border: none; */
}

.display_row {
    transform: rotate(0);
    border-top: #212529 1px solid;

}
.display_row:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
}

.hidden_row {
    /* border-style: hidden; */
    border: none;
}

.jumbotron {
    padding: 20px 20px 20px 20px;
}

.jbt-header-center {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

#jbt-details-wrapper {
    padding: 5%;
    width: 100%;
}

.jbt-details-left {
    float: left;
    width: 49.5%;
}

.jbt-details-right {
    float: right;
    width: 49.5%;
}

#time_select {
    width: 93%;
}

.cvss_span {
    white-space: nowrap;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.cvss_span.none {
    background-color: #f6f6f1;
}
.cvss_span.low {
    background-color: #F4E9A9;
}
.cvss_span.medium {
    background-color: #F4D4A9;
}
.cvss_span.high {
    background-color: #F4BEA9;
}
.cvss_span.critical {
    background-color: #F4A8A9;
}

.vuln_label {
    font-size: 1.1rem;
    color: #134372;
}

.fix_span {
    white-space: nowrap;
    padding: 0.2rem;
}

.fix_span.not_fixed {
    /* background-color: #f08b88; */
    /* color: #a03e3a; */
    font-size: 1.1rem;
    
    border: 1px solid #a03e3a;
    /* border-radius: 3px;
    border-color: #a03e3a; */
}