{% load static %}

<div class="card-deck">
{% for scan in scan_data %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
        <div class="card" onclick="window.location.href='/details/{{scan.repo_org}}/{{scan.repo_name}}'">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="card-body">
                        <h5 class="card-title card-header-custom">{{ scan.repo_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ scan.scan_date }}</h6>
                        <p class="card-text card-text-custom">
                            <div class="card-text-child">
                                <div class="card-text-child-align-left">
                                    <img class="artifact_icon" src="{% static 'images/icons/boxes.png' %}">
                                    <span class="span_artifact">{{ scan.statistics.number_dependencies }} Artifacts</span><br>
                                </div>
                                <div class="card-text-child-align-left">
                                    <img class="vuln_icon" src="{% static 'images/icons/virus.png' %}">
                                    <span class="span_vuln">{{ scan.statistics.number_vulnerabilities }} Vulnerabilities</span><br>
                                </div>
                            </div>
                        </p>
                    </div>
                    {% comment %} <div class="card-footer">
                        <span><i class="bi-x-circle-fill"></i> Scan failed</span>
                    </div> {% endcomment %}
                </div>
                <div class="flip-card-back">
                    <div class="card-body">
                        <div style="width:85%; height:85%">
                            <canvas id="{{ scan.repo_org }}{{ scan.repo_name }}" width="100" height="100"></canvas>
                        </div>
                    </div>
                    {% comment %} <div class="card-footer">
                        <span><i class="bi-x-circle-fill"></i> Scan failed</span>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% comment %} Variables {% endcomment %}
{{ scan_data|json_script:'scan_data' }}

<script src="{% static 'js/dashboard.js' %}"></script>