{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="card-deck">
        {% for scan in scan_data %}
            <div class="card col-xs-12 col-md-4 col-lg-3 mb-3" style="width: 18rem;">
                <div class="card-block">
                    <h5 class="card-title">{{ scan.repo_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ scan.scan_date }}</h6>
                    <p class="card-text">
                        Detected artifacts: {{ scan.statistics.number_dependencies }}<br>
                        Detected vulnerabilities: {{ scan.statistics.number_vulnerabilities }}<br>
                        Critical: {{ scan.statistics.number_vuln_critical }}<br>
                        High: {{ scan.statistics.number_vuln_high }}<br>
                        Medium: {{ scan.statistics.number_vuln_medium }}<br>
                        Low: {{ scan.statistics.number_vuln_low }}<br>
                        Negligible: {{ scan.statistics.number_vuln_negligible }}<br>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}